//varibles

@use 'global' as *;

@mixin for-phone-only {
    @media (max-width: 425px) { @content; }
  }
//para tablet
@mixin for-tablet-portrait-up {
    @media (min-width: 426px) { @content; }
  }
//para laptop girando
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
//para laptop
@mixin for-desktop-up {
    @media (min-width: 1270px) { @content; }
  }
//para escritorio
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

//titulo cards
.home-walls {
    display: flex;
    padding-bottom: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home-wall{
        color: $white;
        font-size: 65px;
        font-family: $font-button;
    }
    .sub-title-hw {
        color: $light-green;
        font-family: $font-title;
        font-size: 28px;
        margin: 30px;
    }
}
//Carts with carrousel
.cards{
    margin-bottom: 10%;
    .card{
        margin: 20px;
        border-radius: 8px;
        border: none;
        font-size: 17px;
        @include for-tablet-portrait-up{
            margin: 5px;
        }
        .carousel-inner{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            max-height: 280px;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            .card-title{
                font-family: $font-button;
                color: $dark-green;
                font-size: 40px;
            }
            .card-city{
                font-family: $font-title;
                color: $green;
                font-size: 17px;
            }
            .card-text{
                font-size: 20px;
            }

            .cards-button{
                align-items: center;
                background-color: $dark-green;
            }
        }
    }
}
