//varibles
@use 'global' as *;

//buttons
@use 'buttons' as *;

@mixin for-phone-only {
    @media (max-width: 425px) { @content; }
  }
//para tablet
@mixin for-tablet-portrait-up {
    @media (min-width: 426px) { @content; }
  }
//para laptop girando
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
//para laptop
@mixin for-desktop-up {
    @media (min-width: 1270px) { @content; }
  }
//para escritorio
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
.flex-container-cta{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    @include for-phone-only{
        display: flex;
        flex-direction: column;
    }
    @include for-big-desktop-up{
      margin: 10%;
    }

    .agrega-muro{
        background-image: url("Assets/tension.png");
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        padding: 250px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 60px;
        padding-right: 60px;
        @include for-phone-only{
          padding: 150px;
          padding-left: 40px;
          padding-right: 40px;
          margin-bottom: 20px;
        }
        @include for-tablet-portrait-up{
          padding: 150px;
          padding-left: 40px;
          padding-right: 40px;
          margin-bottom: 20px;
        }
        @include for-big-desktop-up{
          padding: 350px;
          padding-left: 40px;
          padding-right: 40px;
          background-image: 100%;
        }

        .agrega{
            font-family: $font-button;
            color: $white;
            font-size: 60px;
            @include for-phone-only{
                font-size: 40px;
            }
        }

        .agrega-un{
            font-family: $font-title;
            color: $white;
            font-size: 25px;
        }
        .cta-button{
            font-size: 25px;
            color: $light-green;
            background-color: transparent;
            border-color: transparent;
            text-decoration: underline;
        }
    }

    .busca-muro {
        background-image: url("Assets/homewall.png");
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        padding: 300px; 
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 60px;
        padding-right: 60px;

        @include for-phone-only{
            padding: 150px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 20px;
          }
        @include for-tablet-portrait-up{
            padding: 150px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 20px;
        }
        @include for-desktop-up{
          align-items:flex-end;
        }
        @include for-big-desktop-up{
          padding: 350px;
          padding-left: 40px;
          padding-right: 40px;
          background-image: 100%;
          align-items:flex-end;
        }

        .busca{
        font-family: $font-button;
        color: $white;
        font-size: 60px;
        @include for-phone-only{
            font-size: 40px;
        }
        }

        .busca-un{
            font-family: $font-title;
            color: $white;
            font-size: 25px;
        }
        .cta-button{
            font-size: 25px;
            color: $light-green;
            background-color: transparent;
            border-color: transparent;
            text-decoration: underline;
        }
    }

}
