//varibles

@use 'global' as *;

@mixin for-phone-only {
    @media (max-width: 425px) { @content; }
  }
//para tablet
@mixin for-tablet-portrait-up {
    @media (min-width: 426px) { @content; }
  }
//para laptop girando
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
//para laptop
@mixin for-desktop-up {
    @media (min-width: 1270px) { @content; }
  }
//para escritorio
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
.footer{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    @include for-phone-only{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ft {
    @include for-big-desktop-up{
        display: flex;
        justify-content: center;
    }
        img{
            max-width: 200px;
        }

    }
    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @include for-phone-only{
            align-items: center;
        }
        @include for-big-desktop-up{
            align-items:center;
        }

        .all-rights{
            p{
                font-family: $font-title;
                color: $white;
                font-size: 13px;
            }
        }
    }
}