//varibles
@use 'global' as *;
//varibles
@use 'buttons' as *;

.title{
    display: flex;
    justify-content: center;
    padding: 1.5%;
    background-color: $light-green;
    h2{
        font-size: 40px;
        color: $dark-green;
        font-family: $font-button;
    }
}


.gdl-muros {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5%;
    .video1 {
        display: block;
    }
    .back-yards {
        display: flex;
        flex-direction: column;
        padding: 5%;
        align-items: center;
       h2{
           font-size: 25px;
           color: $white;
           font-family: $font-button;
       }
        p{
            font-family: $font-title;
            color: $light-green;
            font-size: 18px;
        }
    }
    .contactar{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        h3{
            font-family: $font-title;
            color: $light-green;
        }
    }
}

.ver-boulders {
    display: flex;
    justify-content: center;
    margin: 5%;
}
