//varibles
@use 'global' as *;

.gdl-guadalajara{
    display: grid;
    margin-top: 9%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .guadalajara-titulo{
        display: flex;
        padding: 5%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h1{
            font-size: 60px;
            font-family: $font-button;
            color: $white;
        }
        p{
            font-size: 30px;
            font-family: $font-button;
            color: $light-green;
        }
    }
}