//varibles
@use 'global' as *;

// Tercera parte grid

@mixin for-phone-only {
    @media (max-width: 425px) { @content; }
  }
//para tablet
@mixin for-tablet-portrait-up {
    @media (min-width: 426px) { @content; }
  }
//para laptop girando
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
//para laptop
@mixin for-desktop-up {
    @media (min-width: 1270px) { @content; }
  }
//para escritorio
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
.caracteristicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 40px;
    margin: 10%;
    @include for-phone-only{
        display: flex;
        flex-direction: column;
    }
    @include for-tablet-portrait-up{
        column-gap: 10px;
        margin: 2%;
    }
    @include for-desktop-up{
        column-gap: 40px;
        margin: 10%;
    }
    @include for-big-desktop-up{
        column-gap: 60px;
        margin: 15%;
    }
    .caracteristicas-contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background-color: $green;
        transition: 0.3s;
        @include for-phone-only{
            margin-bottom: 20px;
        }
        h4{
            font-size: 30px;
            color: $light-green;
            font-family: $font-button;
        }
        .caracteristicas-contenido-imagen{
            margin-top: 10%;
        }
        .parte3{
            font-size: 20px;
            margin:  10%;
            font-family: $font-title;
            text-align: center;
            color: $white;
        }
    }
    :hover{
        background-color: $dark-green;
    }
}