//varibles
@use 'global' as *;

//nav bar
@use 'navbar' as *;

//buttons
@use 'buttons' as *;

//Primera parte
@use 'parte1' as *;

//Segunda parte
@use 'parte2' as *;

//Tercera parte
@use 'parte3' as *;

//cartas
@use 'cards' as *;

//Call to action

@use 'cta' as *;

//Footer

@use 'footer' as *;

//Guadalajara
@use 'guadalajara' as *;

//guadalajara parte 2

@use 'guadalajaramuros' as *;


body {
    background-color: $dark-green;
    margin:0;
    font-family: $font-title;
}

