.navbar-climbing .container-fluid .navbar img {
  max-width: 200px;
}
.navbar-climbing .container-fluid ul {
  padding: 15px;
}
.navbar-climbing .container-fluid ul li .nav-link {
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
.navbar-climbing .container-fluid .d-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbar-climbing .container-fluid .d-flex .sign-in {
  font-size: 18px;
  color: #E0FE9C;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.navbar-climbing .container-fluid .d-flex .btn-outline-success {
  color: #0E3B43;
  background-color: #E0FE9C;
  font-family: "Staatliches", cursive;
  font-size: 18px;
  margin-right: 30px;
  padding: 5px 40px;
  border-radius: 8px;
}

.btn1 {
  color: #E0FE9C;
  background-color: transparent;
  font-family: "Staatliches", cursive;
  font-size: 23px;
  border: 2px solid;
  margin: 0 0;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border-color: #357266;
  box-shadow: 0 0 40px 40px #357266 inset;
  transition: box-shadow 0.3s ease-in-out;
}

.btn1:focus {
  outline: 0;
}

.btn1:hover {
  box-shadow: 0 0 10px #0E3B43 inset, 0 0 15px 10px #E0FE9C;
}

.cards-button {
  color: #fff;
  background-color: transparent;
  font-family: "Staatliches", cursive;
  font-size: 18px;
  border: 2px solid;
  margin: 0 0;
  padding: 5px 30px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border-color: #0E3B43;
  box-shadow: 0 0 40px 40px #0E3B43 inset;
  transition: box-shadow 0.2s ease-in-out;
}

.cards-button:focus {
  outline: 0;
}

.cards-button:hover {
  box-shadow: 0 0 10px 0 #0E3B43 inset, 0 0 10px 4px #0E3B43;
}

.flex-container {
  display: grid;
  margin-top: 9%;
  background-color: #0E3B43;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 425px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
}
@media (min-width: 426px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
}
@media (min-width: 900px) {
  .flex-container {
    display: grid;
    margin-top: 11%;
    background-color: #0E3B43;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media (min-width: 1270px) {
  .flex-container {
    display: grid;
    margin-top: 9%;
    background-color: #0E3B43;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media (min-width: 1270px) {
  .flex-container {
    display: grid;
    margin-top: 5%;
    background-color: #0E3B43;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
.flex-container .comparte {
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-container .comparte h1 {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-weight: 900;
  font-size: 65px;
}
@media (max-width: 425px) {
  .flex-container .comparte h1 {
    font-size: 30px;
  }
}
@media (min-width: 426px) {
  .flex-container .comparte h1 {
    font-size: 50px;
  }
}
@media (min-width: 1270px) {
  .flex-container .comparte h1 {
    font-size: 55px;
  }
}
@media (min-width: 1270px) {
  .flex-container .comparte h1 {
    font-size: 60px;
  }
}
.flex-container .comparte h4 {
  color: #E0FE9C;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .flex-container .comparte h4 {
    font-size: 20px;
  }
}
@media (min-width: 426px) {
  .flex-container .comparte h4 {
    font-size: 25px;
  }
}
@media (min-width: 1270px) {
  .flex-container .comparte h4 {
    font-size: 30px;
  }
}
@media (min-width: 1270px) {
  .flex-container .comparte h4 {
    font-size: 35px;
  }
}
.flex-container .imagen img {
  width: 100%;
}

/* parte dos lema */
.lema {
  display: flex;
  justify-content: center;
  margin: 20%;
}
.lema .lema1 {
  font-size: 40px;
  color: #E0FE9C;
  font-family: "Staatliches", cursive;
  text-align: center;
}
@media (max-width: 425px) {
  .lema .lema1 {
    font-size: 30px;
  }
}

.caracteristicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 40px;
  margin: 10%;
}
@media (max-width: 425px) {
  .caracteristicas {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 426px) {
  .caracteristicas {
    column-gap: 10px;
    margin: 2%;
  }
}
@media (min-width: 1270px) {
  .caracteristicas {
    column-gap: 40px;
    margin: 10%;
  }
}
@media (min-width: 1800px) {
  .caracteristicas {
    column-gap: 60px;
    margin: 15%;
  }
}
.caracteristicas .caracteristicas-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #357266;
  transition: 0.3s;
}
@media (max-width: 425px) {
  .caracteristicas .caracteristicas-contenido {
    margin-bottom: 20px;
  }
}
.caracteristicas .caracteristicas-contenido h4 {
  font-size: 30px;
  color: #E0FE9C;
  font-family: "Staatliches", cursive;
}
.caracteristicas .caracteristicas-contenido .caracteristicas-contenido-imagen {
  margin-top: 10%;
}
.caracteristicas .caracteristicas-contenido .parte3 {
  font-size: 20px;
  margin: 10%;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #fff;
}
.caracteristicas :hover {
  background-color: #0E3B43;
}

.home-walls {
  display: flex;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-walls .home-wall {
  color: #fff;
  font-size: 65px;
  font-family: "Staatliches", cursive;
}
.home-walls .sub-title-hw {
  color: #E0FE9C;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  margin: 30px;
}

.cards {
  margin-bottom: 10%;
}
.cards .card {
  margin: 20px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
}
@media (min-width: 426px) {
  .cards .card {
    margin: 5px;
  }
}
.cards .card .carousel-inner {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 280px;
}
.cards .card .card-body {
  display: flex;
  flex-direction: column;
}
.cards .card .card-body .card-title {
  font-family: "Staatliches", cursive;
  color: #0E3B43;
  font-size: 40px;
}
.cards .card .card-body .card-city {
  font-family: "DM Sans", sans-serif;
  color: #357266;
  font-size: 17px;
}
.cards .card .card-body .card-text {
  font-size: 20px;
}
.cards .card .card-body .cards-button {
  align-items: center;
  background-color: #0E3B43;
}

.flex-container-cta {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
@media (max-width: 425px) {
  .flex-container-cta {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1800px) {
  .flex-container-cta {
    margin: 10%;
  }
}
.flex-container-cta .agrega-muro {
  background-image: url("Assets/tension.png");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  padding: 250px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 425px) {
  .flex-container-cta .agrega-muro {
    padding: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 426px) {
  .flex-container-cta .agrega-muro {
    padding: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1800px) {
  .flex-container-cta .agrega-muro {
    padding: 350px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: 100%;
  }
}
.flex-container-cta .agrega-muro .agrega {
  font-family: "Staatliches", cursive;
  color: #fff;
  font-size: 60px;
}
@media (max-width: 425px) {
  .flex-container-cta .agrega-muro .agrega {
    font-size: 40px;
  }
}
.flex-container-cta .agrega-muro .agrega-un {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 25px;
}
.flex-container-cta .agrega-muro .cta-button {
  font-size: 25px;
  color: #E0FE9C;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.flex-container-cta .busca-muro {
  background-image: url("Assets/homewall.png");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  padding: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 425px) {
  .flex-container-cta .busca-muro {
    padding: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 426px) {
  .flex-container-cta .busca-muro {
    padding: 150px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1270px) {
  .flex-container-cta .busca-muro {
    align-items: flex-end;
  }
}
@media (min-width: 1800px) {
  .flex-container-cta .busca-muro {
    padding: 350px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: 100%;
    align-items: flex-end;
  }
}
.flex-container-cta .busca-muro .busca {
  font-family: "Staatliches", cursive;
  color: #fff;
  font-size: 60px;
}
@media (max-width: 425px) {
  .flex-container-cta .busca-muro .busca {
    font-size: 40px;
  }
}
.flex-container-cta .busca-muro .busca-un {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 25px;
}
.flex-container-cta .busca-muro .cta-button {
  font-size: 25px;
  color: #E0FE9C;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}

.footer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
@media (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1800px) {
  .footer .ft {
    display: flex;
    justify-content: center;
  }
}
.footer .ft img {
  max-width: 200px;
}
.footer .copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 425px) {
  .footer .copyright {
    align-items: center;
  }
}
@media (min-width: 1800px) {
  .footer .copyright {
    align-items: center;
  }
}
.footer .copyright .all-rights p {
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 13px;
}

.gdl-guadalajara {
  display: grid;
  margin-top: 9%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.gdl-guadalajara .guadalajara-titulo {
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.gdl-guadalajara .guadalajara-titulo h1 {
  font-size: 60px;
  font-family: "Staatliches", cursive;
  color: #fff;
}
.gdl-guadalajara .guadalajara-titulo p {
  font-size: 30px;
  font-family: "Staatliches", cursive;
  color: #E0FE9C;
}

.title {
  display: flex;
  justify-content: center;
  padding: 1.5%;
  background-color: #E0FE9C;
}
.title h2 {
  font-size: 40px;
  color: #0E3B43;
  font-family: "Staatliches", cursive;
}

.gdl-muros {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 5%;
}
.gdl-muros .video1 {
  display: block;
}
.gdl-muros .back-yards {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}
.gdl-muros .back-yards h2 {
  font-size: 25px;
  color: #fff;
  font-family: "Staatliches", cursive;
}
.gdl-muros .back-yards p {
  font-family: "DM Sans", sans-serif;
  color: #E0FE9C;
  font-size: 18px;
}
.gdl-muros .contactar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.gdl-muros .contactar h3 {
  font-family: "DM Sans", sans-serif;
  color: #E0FE9C;
}

.ver-boulders {
  display: flex;
  justify-content: center;
  margin: 5%;
}

body {
  background-color: #0E3B43;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

/*# sourceMappingURL=output.css.map */
