:root{
    --color-verdeobscuro: #0E3B43;
    --color-verde: #357266;
    --color-verdeclaro: #E0FE9C;
    --color-negro: #000;
    --color-blanco: #fff;
}

body {
    background-color: var(--color-verdeobscuro);
    margin:0;
    font-family: 'DM Sans', sans-serif;
   
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color-blanco);
    font-size: 20px;
}

.container-fluid {
    background-color: var(--color-verde);
}

a {
    color: var(--color-blanco);
    text-decoration:none;
    margin-left: 40px;
    }
.nav-link1 {
    padding-left: 90px;
    font-size: 18px;
    text-decoration: underline;
}

.main{
        margin-top: 255px;
        text-align: center;
    }

.btn-outline-success {
    color: #000 ;
    background-color:#E0FE9C;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    margin-right: 30px;
    padding: 5px 40px;
    border-radius: 8px;
}

.header li {
    display: inline;
    margin: 0 10px;
}
.header ul {
    padding: 0;
}
.header .navbar {
    width: 10%;
    text-align: center;
}

/* Primera parte de la introduccion en flex*/

.flex-container{
    display: grid;
    margin-top: 105px;
    background-color: #0E3B43;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.flex-container .comparte {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flex-container .comparte h1 {
    color: #fff;
    font-family: 'Staatliches', cursive;
    font-weight: 900;
    font-size: 65px;
}

.comparte h4 {
    color: #E0FE9C;
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 30px;
}
.boton1 {
    color: var(--color-verdeclaro);
    background-color: transparent;
    font-family:'Staatliches', cursive;
    font-size: 1.4rem;
    border: 2px solid;
    margin: 0 0;
    padding: 1.2rem 2.8rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

    border-color: var(--color-verde);
    box-shadow: 0 0 40px 40px var(--color-verde) inset;
    transition: box-shadow 0.2s ease-in-out;
}

button:focus{
    outline: 0;
}

.boton1:hover {
    box-shadow: 0 0 10px 0 var(--color-verdeobscuro) inset, 0 0 10px 4px var(--color-verdeclaro);
}

.flex-container .imagen {
    width: 100%;
}

.imagen .imagen1{
    width: 100%;
}

/* parte dos lema */
.lema {
  display: flex;
  justify-content: center;
  margin: 20%;
}

 .lema h2 {
  font-size: 2em;
  color: #E0FE9C;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

/* segunda parte de la introduccion en grid  */

.caracteristicas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 40px;
    margin: 10%;
 }

.caracteristicas .caracteristicas-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: var(--color-verde);
}

.caracteristicas :hover{ 
    background-color:var(--color-verdeobscuro);
}

.caracteristicas .caracteristicas-contenido h4 {
    font-size: 30px;
    color: var(--color-verdeclaro);
    font-family: 'Staatliches', cursive;
}

.caracteristicas .caracteristicas-contenido .caracteristicas-contenido-imagen{
  margin-top: 10%;
}

.caracteristicas .caracteristicas-contenido p {
    font-size: 20px;
    margin:  10%;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #fff;
}
